/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

:root {
  --color-white: #fafafa;
  --color-gray: #e5e7eb;
  --color-green: #16a34a;
  --color-blue: #3b82f6;
  --color-red: #dc2626;
  --color-text-base: #334155;
  --color-text-light: #33415595;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.App {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #334155;
}

b {
  font-weight: 600;
}
